# Server configuration
PORT=

# Database configuration
DATABASE_URL=

# OpenAI API Key (pentru integrarea GPT-3.5/4)
OPENAI_API_KEY=

# Vector Database API Key (ex: Pinecone API Key)
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
